<div id="status">
</div>

<div id="chat-window">
  <ul id="messages">
    <% @messages.each do |message| %>
      <li data-id="<%= message.id %>"><%= message.content %></li>
    <% end %>
  </ul>
</div>

<div id="message-input">
  <form action="/requests/1/messages" method="post">
    <div>
      <label for="message">Message: </label>
      <input type="text" name="message[content]" id="message">
    </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8">
  var pusher = new Pusher('545220afdca7480dd648',
      {encrypted: true});

 //note that 123456 below needs to be replaced with the requestid

  var channel = pusher.subscribe('private-<%= @request.id %>');

  channel.bind('new_message', function(data) {
    $('#messages').append('<li>' + data.content + '</li>');
  });

  pusher.connection.bind('connecting', function() {
    $('div#status').text("Connecting to chat system...");
  });

  pusher.connection.bind('connected', function() {
    $('div#status').text("Connected to chat system!");
  });

  // NOTE: We should act functionality so that the div#status div slowly changes
  // and is removed after a period of time (3 seconds?);

  // NOTE: More more user-friendly message should appear here.
  channel.bind('subscription_error', function() {
    $('div#status').text("Not authorized to subscribe to channel.");
  });
</script>
