<script src="https://cdn.auth0.com/js/lock-7.9.min.js"></script>
<script type="text/javascript">
  
  var lock = new Auth0Lock('2M7P0OrlDnifR6x8NfkNr3VQsdKsqaMC', 'nghborly.auth0.com');
  
  
  function signin() {
    lock.show({
        callbackURL: 'http://nghborly.auth0.com/auth/auth0/callback'
      , responseType: 'code'
      , authParams: {
        scope: 'openid profile'
      }
    });
  }
</script>
<button onclick="window.signin();">Login</button>