<script src="https://cdn.auth0.com/js/lock-7.9.min.js"></script>
<script type="text/javascript">

  var lock = new Auth0Lock('WuwkvmO3lwnNQO0u7LMQrhYkiKlTjLGW', 'nghborly.auth0.com');
  var url = (document.location.origin + "/auth/auth0/callback")

  function signin() {
    lock.show({
        callbackURL: url
      , responseType: 'code'
      , authParams: {
        scope: 'openid profile'
      }
    });
  }
</script>

<div class='row'>
  <div class='small-10 small-centered columns intro-text'>For when you wish you knew your neighbors.</div>
</div>

<div class='button-container small-8 small-centered text-center columns'>
  <button class='button round success login-btn' onclick="window.signin();">Log in</button>
</div>

<div class='row'>
  <div class='small-8 small-centered columns'><hr /></div>
</div>

<div class='row info-box'>
  <div class='small-8 small-centered columns'><%= image_tag('cups-small.png') %></div>
  <div class='small-8 small-centered text-center columns info-title'>
    <strong>Connect With Your Neighbors</strong>
  </div>
  <div class='small-10 small-centered text-center columns info-text'>
    Knocking on doors is outdated. Make new friends with your neighbors and help build your community.
  </div>
</div>

<div class='row info-box'>
  <div class='small-8 small-centered columns'><%= image_tag('feggs-small.png') %></div>
  <div class='small-8 small-centered text-center columns info-title'>
    <strong>Borrow Their Stuff</strong>
  </div>
  <div class='small-10 small-centered text-center columns info-text'>
    Forgot to get that one key ingredient for dinner? No problem. Ask your neighbors to give you a hand.
  </div>
</div>

<div class='row info-box'>
  <div class='small-8 small-centered columns'><%= image_tag('tree-small.png') %></div>
  <div class='small-8 small-centered text-center columns info-title'>
    <strong>Share Your Stuff</strong>
  </div>
  <div class='small-10 small-centered text-center columns info-text'>
    Have something that someone needs? Be a neighbor and share -- it'll make you feel good. Seriously. It's science.
  </div>
</div>
  
<div class='site-buffer'>
</div>
 
 <div class='footer'>
 <div class='row info-box'>
 <div class='small-10 small-centered columns'>
Created with love by Chan, Sarah & Steven.
</div>
</div>
</div>