<script src="https://cdn.auth0.com/js/lock-7.9.min.js"></script>
<script type="text/javascript">

  var lock = new Auth0Lock('WuwkvmO3lwnNQO0u7LMQrhYkiKlTjLGW', 'nghborly.auth0.com');
  var url = (document.location.origin + "/auth/auth0/callback")

  function signin() {
    lock.show({
        callbackURL: url
      , responseType: 'code'
      , authParams: {
        scope: 'openid profile'
      }
    });
  }
</script>

<div class='row'>
  <div class='small-8 small-centered columns intro-text'>Connect with your neighbors now, at the click of a button.</div>
</div>

<div class='button-container small-8 small-centered text-center columns'>
  <button class='button round success login-btn' onclick="window.signin();">Log in</button>
</div>


