<div class='row'>
  <div class='small-12 columns neighborhood-header'>
    <div class='row'>
      <div class='small-10 text-center small-centered columns neighborhood-title'>
        The neighbors of
      </div>
    </div>
    <div class='row'>
      <div class='small-10 text-center small-centered columns neighborhood-title'>
        <%= @group.name %>
      </div>
    </div>
  </div>
</div>
<% @users.each do |user| %>
  <%= render 'users/user_summary', user: user %>
<% end %>
<div class='row'>
  <div class='small-8 columns even'>
    <%= link_to "Request a neighbor!", root_path, class:"button small round success request-neighborhood" %>
  </div>
  <div class='small-4 columns'>
    <%= link_to "Move", groups_assign_path, class:"button small round alert move-neighborhoods" %>
  </div>
</div>