<div class='row neighbor-summary'>
  <div class='small-3 columns'><%= image_tag(user.picture) %></div>
  <div class='small-7 columns y-center'><p><%= user.first_name %></p></div>
  <div class='small-2 columns y-center'><p><%= user.vote_count %></p></div>
</div>