<div class='row neighbor-summary'>
  <div class='small-3 columns'><%= image_tag(user.picture, size: '60') %></div>
  <div class='small-7 columns user-summary-info'><%= user.first_name %></div>
  <div class='small-2 columns user-summary-info'><%= user.vote_count %></div>
</div>