<%= form_for request do |f| %>

  <div class='row'>
    <div class='small-10 small-centered text-center columns request-form'>
      <%= f.text_field :content, class: 'request-field', placeholder: 'How can a neighbor help you today?' %>
    </div>
  </div>
  <div class='button-container small-8 small-centered text-center columns'>
  <%= f.submit 'Ping your neighbors!', class: 'tiny button round ping' %>
  </div>
<% end %>
