<li class="request" data-id="<%= request.id %>">
  <div class='row req-summary'>
    <div class='small-3 columns'>
      <%= image_tag(request.requester.picture, class:"profpic", height:"80", width:"80", align:"left") %>
    </div>
    <div class='small-9 columns'>
      <%= link_to request.requester.first_name, user_path(request.requester) %> said: "<%= request.content %>"
    </div>
  </div>
</div>