<%= render request %>

<if @request.fulfilled?> 
 <div class="vote-deets"><%= render "votes/vote_form", :object => @user, :vote => @vote %></div>
      <% else %>
        <%= render :partial => "votes/disabled_votes", locals: {object: @user} %>
    <% end %>