<div class='row'>
  <div class='small-12 small-centered text-center columns'>
    <strong>500</strong>
  </div>
</div>
<div class='row'>
  <div class='small-12 small-centered text-center columns'>
    Oops, we messed up.
  </div>
</div>