<div class='row'>
  <div class='small-12 small-centered text-center columns'>
    <strong>404</strong>
  </div>
</div>
<div class='row'>
  <div class='small-12 small-centered text-center columns'>
    <%= image_tag('angryface.png') %>
  </div>
</div>
<div class='row'>
  <div class='small-12 small-centered text-center columns'>
    Oops, you messed up.
  </div>
</div>