/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.vote-deets {
  float: left;
  width: 32px;
  margin: 1% 2% 0% 0%;
  text-align: center
}

td {
  text-align: center;
}

.up {
    width: 32px;
    height: 32px;
    -ms-transform: rotate(180deg);  IE 9
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.down {
  width: 32px;
  height: 32px;
}

/*.vote-table {
  position: relative;
  top: -15px;
}
*/

.intro-text {
  text-align: center;
  margin: 1em;
}

.top-bar {
  margin-bottom: 2em;
}

.river-nav {
  margin-top: 1em;
}

.river-btn {
  margin: 0px;
  padding: 0px;
  border-right, border-top, border-left: 1px solid #87abfd;
  background-color: white;
  color: black;
}

.intro-logo {
  margin: 1em;
  text-align: center;
  list-style: none;
}

.login-btn {
  margin: 1em;
}

.request-btn {
  margin: 1em;
}

.ping {
  background-color: white;
  color: #87abfd;
  border: 2px solid #87abfd;
}

.request-form {
  margin: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding: 0px;
    padding-top: 1em;
    background-color: white;
}

.msg {
  display:block;
  list-style: none;
  padding: .5em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 50px;
}

.profpic {
  border-radius: 50%
}


.msg-buffer {
  height: 70px;
}

.transactions {
  list-style: none;
  text-align: center;
  background: white;
  color: #333;
  border-top: 2px solid #ccc;
  margin: 1em;
  padding-top: 1em;
  font-weight: 300;
  max-height: 20px;
}

.top-bar.expanded {
overflow:visible;
}
.top-bar-section ul {
position: absolute;
}

.nav-link {
  border: 1px solid white;
}

.request-field {
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 1px solid !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
  box-shadow: none !important;
  text-align: center;
}

.neighbor-summary {
  margin: 1em;
}

.neighborhood-title {
  font-size: 2em;
  color: #4D6BB0;
}

.move-neighborhoods {
  margin-top: 2em;
}

.request-neighborhood {
  margin-top: 2em;
}

.requests {
  list-style: none;
  text-align: center;
}

.request-content {
  font-weight: 300;
  border-top: 2px solid #ccc;
  margin: 1em;
  padding-top: 1em;
  text-align: center;
  list-style: none;
}
