/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 */

.intro-text {
  text-align: center;
  margin: 1em;
}

.top-bar {
  margin-bottom: 2em;
}

.river-nav {
  margin-top: 1em;
}

.river-btn {
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
}

.intro-logo {
  margin: 1em;
  text-align: center;
  list-style: none;
}

.login-btn {
  margin: 1em;
}

.request-btn {
  margin: 1em;
}

.ping {
  background-color: white;
  color: #87abfd;
  border: 2px solid #87abfd;
}

.request-form {
  margin: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding: 0px;
    padding-top: 1em;
    background-color: white;
}

.msg {
  display:block;
  list-style: none;
  padding: .5em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 50px;
}

.profpic {
  border-radius: 50%
}


.msg-buffer {
  height: 70px;
}

.transactions {
  list-style: none;
  text-align: center;
  background: white;
  color: #333;
  border-top: 2px solid #ccc;
  margin: 1em top;
  padding-top: 1em;
  font-weight: 300;
  max-height: 20px;
  width: auto;
}

.top-bar.expanded {
  overflow:visible;
}
.top-bar-section ul {
  position: absolute;
}

.nav-link {
  border: 1px solid white;
}

.request-field {
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 1px solid !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
  box-shadow: none !important;
  text-align: center;
}

.neighbor-summary {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #dbdbdb;
}


.move-neighborhoods {
  margin-top: 2em;
}


.request-neighborhood {
  margin-top: 2em;
}

.neighborhood-header {
  padding-top: 3em;
  padding-bottom: 3em;
  border: 1px solid black;
  background-image: url('apt-small.png');
  background-size: contain;
  background-position: center center;
}

.neighborhood-title {
  font-size: 2em;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.user-summary-info {
  font-size: 1.5em;
  padding-top: 2.5%;
}

.requests {
  list-style: none;
  text-align: center;
  margin-top: 1em;
}

.request {
  font-weight: 300;
  text-align: center;
  list-style: none;
  width: auto;
}


.req-summary {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  font-size: .8em ;
}

.request-show-msg {
  margin-top: .5em;
  margin-bottom: .5em;
}

.request-show-submsg {
  font-size: .7em;
  color: gray;
}

.chat-btn {
  margin: 0px;
}

.vote-field {
  margin-top: 1em;
}

.vote-btn {
  margin-top: 1em;
  margin-bottom: 1em;

.user-summary-info {
  font-size: 1.5em;
  padding-top: 2.5%;
}