<div class="row transactions">
  <div class="small-12 columns">
    <% @transactions.each do |transaction| %>
        <%= render 'transaction.html.erb', transaction: transaction %>
    <% end %>
  </div>
</div>


