<div class="row">
<div class="small-12 columns">
<% @transactions.each do |transaction| %>
<div class='row'>
<div class="small-12 columns">
<ul class='transactions'>
  <li><%= render 'transaction.html.erb', transaction: transaction %></li>
  </ul>
  </div>
  </div>
<% end %>
</div>
</div>

    
