<div class="row">
  <div class="small-12 columns transactions">
    <% @transactions.each do |transaction| %>
        <%= render 'transaction.html.erb', transaction: transaction %>
    <% end %>
  </div>
</div>


