<div class="vote-deets">
  <div class="up"><%= image_tag("gray-arrow.png")%></div>
  <div class="vote-num"><%= object.vote_count %></div>
  <div class="down"><%= image_tag("gray-arrow.png")%></div>
</div>